<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
      <globalization 
        requestEncoding="utf-8" 
        responseEncoding="utf-8" 
        culture="es-ES" 
        uiCulture="es-ES" 
        fileEncoding="utf-8" />
    <compilation debug="false" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" executionTimeout="240" maxRequestLength="102400"  />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
		<add connectionString="Data Source=93.90.25.27;Persist Security Info=True;User ID=sa;Password=prueba2025_%" name="ConnectionString" />
    </connectionStrings>
</configuration>