body {
    overflow: hidden;
    background-color: transparent;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:focus {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

#body_contenedor {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: transparent;
}

#body_contenedor_desktop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    border: 1px solid transparent;
    overflow: hidden;
}

.transparent_negro {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    z-index: 1;
    opacity: 0.30;
    background-color: black;
    background-size: cover;
}

#menu_superior {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: none;
}

#menu {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: none;
}

#id_fondo_barra_superior {
    width: 100%;
    height: 100%;
    border-top: 1px solid gray;
}

#img_informacion {
    position: absolute;
    bottom: 23px;
    left: 25px;
    color: black;
}

#img_contacto_superior {
    position: absolute;
    bottom: 23px;
    left: 55px;
    color: black;
}

#lbl_informacion_extra {
    position: absolute;
    bottom: 8px;
    left: 15px;
    color: black;
}

#tabreloj {
    position: absolute;
    bottom: 7px;
    right: 6px;
    font-size: 9px;
    font-weight: 400;
    color: black;
}

#id_fondo_barra_inferior {
    width: 100%;
    height: 100%;
    border-top:1px solid gray;
}

#img_inicio {
    position: absolute;
    bottom: 2px;
    left: 10px;
    width: 45px;
    -webkit-box-shadow: 0px 0px 22px -6px rgba(115,114,115,1);
    -moz-box-shadow: 0px 0px 22px -6px rgba(115,114,115,1);
    box-shadow: 0px 0px 22px -6px rgba(115,114,115,1);
}

#gear_barra {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    top: 0px;
    height: 50px;
    background-color: transparent;
}

#barra_menu {
    position: absolute;
    z-index: 10;
    width: 95%;
    left: 0px;
    bottom: 55px;
    border-radius: 15px;
    border: 1px solid gray;
    display: none;
}

#central_inferior {
    position: absolute;
    bottom: 51px;
    width: 100%;
    overflow: auto;
}

#inferior_menu {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #c1c1c1;
    height: 50px;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#icontenido {
    position: relative;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    border: 0px solid red;
    z-index: 10;
    visibility: hidden;
}

.verde_degradado {
    border-radius: 5px;
    background: rgb(21,87,36);
    background: linear-gradient(90deg, rgba(21,87,36,0.5438550420168067) 40%, rgba(21,87,36,1) 60%);
}

.transparencia_barra {
    border-bottom: 1px solid gray;
    background-color: transparent;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 1000;
}

.icon_menu {
    font-size: 15px;
}

.nav-side-menu {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.nav-side-menu .brand {
    background-color: violet;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: 'Material Icons';
    content: "\e5cf";
    font-size: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    menufloat: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    /*border-left: 13px solid #146ABD;*/
    /*background-color: #F8F8F8;*/
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    /*color: #3d72d1;*/
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    /*color: #d19b3d;*/
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #B1B3B5;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    /*background-color: #F7F7F7;*/ /*#020203;*/
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: 'Material Icons';
    content: "\e5cc";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-bottom: 1px solid #B1B3B5;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #000000;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid gray;
    background-color: #e5e5e5;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@media (max-width: 300px) {

    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        /*background-color: #ffffff;*/
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 200px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

#notificaciones-charm {
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    height: 100%;
    display: none;
}

#tabla_notificaciones {
    position: absolute;
    top: 5px;
    width: 100%;
    border: 1px solid #B1B3B5;
    background-color: rgba(237,237,237,1);
    border-radius: 10px;
    border-spacing: 3px;
    border-collapse: separate;
    font-size: 12px;
}

/*.icono_menu {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20px;
}*/  