USE [car2]
GO

/****** Object:  Table [dbo].[tipo_impuestos]    Script Date: 22/09/2025 23:17:15 ******/
CREATE TABLE [dbo].[tipo_impuestos](
	[Id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[porcentaje] [decimal](18, 2) NULL,
	[impuesto_defecto] [bit] NULL,
	[activo] [bit] NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[articulos]    Script Date: 22/09/2025 18:22:48 ******/
CREATE TABLE [dbo].[articulos](
	[id] [int] NOT NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[denominacion] [varchar](250) NULL,
	[cod_barras] [varchar](50) NULL,
	[activo] [bit] NULL,
	[precio] [decimal](9, 2) DEFAULT(0) NULL,
	[dto_1] [decimal](9, 2) DEFAULT(0) NULL,
	[observaciones] [varchar](1000) NULL,
	[impuesto] [decimal](5, 2) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[cabecera_facturas]    Script Date: 22/09/2025 18:25:59 ******/
CREATE TABLE [dbo].[cabecera_facturas](
	[n_factura] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[fecha] [date] NULL,
	[cod_cliente] [int] NULL,
	[cliente] [varchar](250) NULL,
	[nif] [varchar](15) NULL,
	[direccion] [varchar](250) NULL,
	[cp] [varchar](6) NULL,
	[poblacion] [varchar](80) NULL,
	[provincia] [varchar](80) NULL,
	[total] [decimal](18, 2) NULL,
	[perfil_repetitivo] [varchar](150) NULL,
	[origen] [varchar](50) NULL,
	[fecha_repetitivo] [date] NULL,
	[n_presupuesto] [varchar](15) NULL,
	[n_descargado] [int] NULL,
	[isp] [bit] NULL,
	[exento] [bit] NULL,
	[n_albaran] [varchar](15) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[cabecera_albaranes]    Script Date: 12/11/2025 23:36:15 ******/
CREATE TABLE [dbo].[cabecera_albaranes](
	[n_albaran] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[fecha] [date] NULL,
	[cod_cliente] [int] NULL,
	[cliente] [varchar](250) NULL,
	[nif] [varchar](15) NULL,
	[direccion] [varchar](250) NULL,
	[cp] [varchar](6) NULL,
	[poblacion] [varchar](80) NULL,
	[provincia] [varchar](80) NULL,
	[total] [decimal](18, 2) NULL,
	[origen] [varchar](50) NULL,
	[n_presupuesto] [varchar](15) NULL,
	[n_descargado] [int] NULL,
	[facturado] [bit] NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[cabecera_presupuestos]    Script Date: 03/10/2025 14:07:06 ******/
CREATE TABLE [dbo].[cabecera_presupuestos](
	[n_presupuesto] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[fecha] [date] NULL,
	[cod_cliente] [int] NULL,
	[cliente] [varchar](250) NULL,
	[nif] [varchar](15) NULL,
	[direccion] [varchar](250) NULL,
	[cp] [varchar](6) NULL,
	[poblacion] [varchar](80) NULL,
	[provincia] [varchar](80) NULL,
	[total] [decimal](18, 2) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[clientes]    Script Date: 22/09/2025 18:27:22 ******/
CREATE TABLE [dbo].[clientes](
	[id] [int] NOT NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[activo] [bit] NULL,
	[nombre_fiscal] [varchar](250) NULL,
	[nombre_comercial] [varchar](250) NULL,
	[nif] [varchar](15) NULL,
	[tipo_via] [int] NULL,
	[calle] [varchar](70) NULL,
	[numero] [varchar](5) NULL,
	[escalera] [varchar](2) NULL,
	[piso] [varchar](3) NULL,
	[puerta] [varchar](3) NULL,
	[cp] [varchar](6) NULL,
	[pais] [int] NULL,
	[provincia] [int] NULL,
	[localidad] [int] NULL,
	[observaciones] [varchar](1000) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[contactos]    Script Date: 22/09/2025 18:28:45 ******/
CREATE TABLE [dbo].[contactos](
	[id_cliente] [int] NULL,
	[id_sucursal] [int] NOT NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[cargo] [varchar](150) NULL,
	[nombre] [varchar](150) NULL,
	[primer_apellido] [varchar](150) NULL,
	[segundo_apellido] [varchar](150) NULL,
	[contacto] [varchar](200) NULL,
	[observaciones] [varchar](1000) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[contactos_proveedores]    Script Date: 22/09/2025 18:30:53 ******/
CREATE TABLE [dbo].[contactos_proveedores](
	[id_proveedor] [int] NULL,
	[id_sucursal_proveedor] [int] NOT NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[cargo] [varchar](150) NULL,
	[nombre] [varchar](150) NULL,
	[primer_apellido] [varchar](150) NULL,
	[segundo_apellido] [varchar](150) NULL,
	[contacto] [varchar](200) NULL,
	[observaciones] [varchar](1000) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[contadores]    Script Date: 22/09/2025 18:32:44 ******/
CREATE TABLE [dbo].[contadores](
	[n_factura] [int] NULL,
	[n_abono] [int] NULL,
	[n_presupuesto] [int] NULL,
	[n_albaran] [int] NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[detalles_facturas]    Script Date: 03/10/2025 14:07:59 ******/
CREATE TABLE [dbo].[detalles_facturas](
	[n_factura] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[linea] [int] NULL,
	[cantidad] [decimal](10, 2) NULL,
	[cod_articulo] [int] NULL,
	[denominacion] [varchar](250) NULL,
	[precio] [decimal](9, 2) NULL,
	[dto_1] [decimal](9, 2) NULL,
	[porcentaje_impuesto] [decimal](9, 2) NULL,
	[total] [decimal](18, 2) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[detalles_albaranes]    Script Date: 12/11/2025 23:37:30 ******/
CREATE TABLE [dbo].[detalles_albaranes](
	[n_albaran] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[linea] [int] NULL,
	[cantidad] [decimal](10, 2) NULL,
	[cod_articulo] [int] NULL,
	[denominacion] [varchar](250) NULL,
	[precio] [decimal](9, 2) NULL,
	[dto_1] [decimal](9, 2) NULL,
	[porcentaje_impuesto] [decimal](9, 2) NULL,
	[total] [decimal](18, 2) NULL,
	[observaciones] [varchar](3000) NULL,
	[imagen] [varchar](50) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[detalles_presupuestos]    Script Date: 27/10/2025 18:09:57 ******/
CREATE TABLE [dbo].[detalles_presupuestos](
	[n_presupuesto] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[linea] [int] NULL,
	[cantidad] [decimal](10, 2) NULL,
	[cod_articulo] [int] NULL,
	[denominacion] [varchar](250) NULL,
	[precio] [decimal](9, 2) NULL,
	[dto_1] [decimal](9, 2) NULL,
	[porcentaje_impuesto] [decimal](9, 2) NULL,
	[total] [decimal](18, 2) NULL,
	[observaciones] [varchar](3000) NULL,
	[imagen] [varchar](50) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[notificaciones]    Script Date: 22/09/2025 19:41:19 ******/
CREATE TABLE [dbo].[notificaciones](
	[id] [int] NULL,
	[fecha] [date] NULL,
	[hora] [time](0) NULL,
	[titulo] [varchar](50) NULL,
	[texto] [varchar](3000) NULL,
	[usuario] [varchar](250) NULL,
	[activa] [bit] NULL,
	[prioridad] [varchar](8) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[perfil_repetitivo]    Script Date: 22/09/2025 19:42:40 ******/
CREATE TABLE [dbo].[perfil_repetitivo](
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[nombre] [varchar](100) NULL,
	[facturacion] [varchar](25) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[pie_facturas]    Script Date: 22/09/2025 19:44:54 ******/
CREATE TABLE [dbo].[pie_facturas](
	[n_factura] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[base_imponible] [decimal](18, 2) NULL,
	[porcentaje] [decimal](9, 2) NULL,
	[cuota] [decimal](18, 2) NULL,
	[total] [decimal](18, 2) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[pie_albaranes]    Script Date: 12/11/2025 23:38:31 ******/
CREATE TABLE [dbo].[pie_albaranes](
	[n_albaran] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[base_imponible] [decimal](18, 2) NULL,
	[porcentaje] [decimal](9, 2) NULL,
	[cuota] [decimal](18, 2) NULL,
	[total] [decimal](18, 2) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[pie_presupuestos]    Script Date: 03/10/2025 14:08:47 ******/
CREATE TABLE [dbo].[pie_presupuestos](
	[n_presupuesto] [varchar](15) NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[base_imponible] [decimal](18, 2) NULL,
	[porcentaje] [decimal](9, 2) NULL,
	[cuota] [decimal](18, 2) NULL,
	[total] [decimal](18, 2) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[proveedores]    Script Date: 22/09/2025 19:48:01 ******/
CREATE TABLE [dbo].[proveedores](
	[id] [int] NOT NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[activo] [bit] NULL,
	[nombre_fiscal] [varchar](250) NULL,
	[nombre_comercial] [varchar](250) NULL,
	[nif] [varchar](15) NULL,
	[tipo_via] [int] NULL,
	[calle] [varchar](70) NULL,
	[numero] [varchar](5) NULL,
	[escalera] [varchar](2) NULL,
	[piso] [varchar](3) NULL,
	[puerta] [varchar](3) NULL,
	[cp] [varchar](6) NULL,
	[pais] [int] NULL,
	[provincia] [int] NULL,
	[localidad] [int] NULL,
	[observaciones] [varchar](1000) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[registro_usuarios]    Script Date: 22/09/2025 19:56:33 ******/
CREATE TABLE [dbo].[registro_usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nombre_usuario] [varchar](150) NOT NULL,
	[modulo] [varchar](100) NOT NULL,
	[descripcion] [varchar](3000) NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[sucursales]    Script Date: 22/09/2025 19:57:37 ******/
CREATE TABLE [dbo].[sucursales](
	[id] [int] NOT NULL,
	[id_cliente] [int] NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[activo] [bit] NULL,
	[denominacion] [varchar](250) NULL,
	[tipo_via] [int] NULL,
	[calle] [varchar](70) NULL,
	[numero] [varchar](5) NULL,
	[escalera] [varchar](2) NULL,
	[piso] [varchar](3) NULL,
	[puerta] [varchar](3) NULL,
	[cp] [varchar](6) NULL,
	[pais] [int] NULL,
	[provincia] [int] NULL,
	[localidad] [int] NULL,
	[observaciones] [varchar](1000) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[sucursales_proveedores]    Script Date: 22/09/2025 19:58:38 ******/
CREATE TABLE [dbo].[sucursales_proveedores](
	[id] [int] NOT NULL,
	[id_proveedor] [int] NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](0) NULL,
	[activo] [bit] NULL,
	[denominacion] [varchar](250) NULL,
	[tipo_via] [int] NULL,
	[calle] [varchar](70) NULL,
	[numero] [varchar](5) NULL,
	[escalera] [varchar](2) NULL,
	[piso] [varchar](3) NULL,
	[puerta] [varchar](3) NULL,
	[cp] [varchar](6) NULL,
	[pais] [int] NULL,
	[provincia] [int] NULL,
	[localidad] [int] NULL,
	[observaciones] [varchar](1000) NULL
) ON [PRIMARY]

